
﻿@model BlogPostWebsite.Models.PostViewModel
{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    using (Html.BeginForm("IndexAddPost", "Home", FormMethod.Post))
    {
        <table>
            <thead>
                <tr>
                    <td>Author:</td>
                    <td><input type="text" id="authorName" value="@User.Identity.Name" readonly /></td>
                    <td>Posted:</td>
                    <td><input type="text" id="datePosted" value="@DateTime.Today" readonly /></td>
                    <td>Last Modified:</td>
                    <td><input type="text" id="datePosted" value="@DateTime.Today" readonly /></td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" id="title" value="" /></td>
                </tr>
                <tr>
                    <td>
                        Category:
                    </td>
                    <td>
                        <input type="text" id="category" value="" />
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">
                        <textarea id="description" value=""></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Save Post</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}

@foreach (BlogPostWebsite.Models.Post p in Model.Posts)
{
    <table>
        <thead>
            <tr>
                <td>Author:</td>
                <td>@p.AuthorName</td>
                <td>Posted:</td>
                <td>@p.DatePosted</td>
                <td>Last Modified:</td>
                <td>@p.DateModified</td>
            </tr>
            <tr>
                <td>@p.Title</td>
            </tr>
            <tr>
                <td>
                    @p.Category
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    @p.Description
                </td>
            </tr>
        </tbody>
        @foreach (BlogPostWebsite.Models.Comment c in p.Comments)
        {
            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>
        }
        @using (Html.BeginForm("IndexAddComment","Home", FormMethod.Post))
        {
            <thead>
                <tr>
                    <td>
                        <input type="text" id="PostId" value="@p.PostId" readonly />
                        <input type="text" id="Name" value="Name" />
                    </td>
                    <td>
                        <input type="text" id="DatePosted" value="@DateTime.Today" />
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <textarea id="CommentText" value=""></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Save Comment</button>
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
