@model BlogPostWebsite.Models.PostViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    using (Html.BeginForm())
    {
        <table>
            <thead>
                <tr>
                    <td>Author:</td>
                    <td><input type="text" id="authorName" value="@User.Identity.Name" readonly /></td>
                    <td>Posted:</td>
                    <td><input type="text" id="datePosted" value="@DateTime.Today" readonly /></td>
                    <td>Last Modified:</td>
                    <td><input type="text" id="datePosted" value="@DateTime.Today" readonly /></td>
                </tr>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" id="title" value="" /></td>
                </tr>
                <tr>
                    <td>
                        Category:
                    </td>
                    <td>
                        <input type="text" id="category" value="" />
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="6">
                        <textarea id="description" value=""></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Post</button>
                    </td>
                </tr>
            </tbody>
        </table>
    }
}

@foreach (BlogPostWebsite.Models.Post p in Model.Posts)
{
    <table>
        <thead>
            <tr>
                <td>Author:</td>
                <td>@p.AuthorName</td>
                <td>Posted:</td>
                <td>@p.DatePosted</td>
                <td>Last Modified:</td>
                <td>@p.DateModified</td>
            </tr>
            <tr>
                <td>@p.Title</td>
            </tr>
            <tr>
                <td>
                    @p.Category
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="6">
                    @p.Description
                </td>
            </tr>
        </tbody>
        @foreach (BlogPostWebsite.Models.Comment c in p.Comments)
        {
            <tfoot>
                <tr>
                    <td></td>
                </tr>
            </tfoot>
        }
        @using (Html.BeginForm())
        {
            <table>
                <thead>
                    <tr>
                        <td>
                            <input type="text" id="PostId" value="@p.PostId" readonly/>
                            <input type="text" value="@p."/>
                        </td>
                    </tr>
                </thead>
            </table>
        }
    </table>
}